.box{
    border: 1px solid blueviolet;
    padding: 10px 20px;
    width: 500px;
    height: 300px;
    margin: 10px auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: rgb(37, 31, 85);
    color:white;
    transform: scale(.9);
    opacity: 0;
    transition: all .5s ease;
}
.fadeout-scale{
    transform: scale(1);
    opacity: 1;
}
/*  */
@media (min-width:150px) and (max-width:550px){
    .box{
        width: 250px;
        height: 630px;
    }
}